{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="base-section anim-down">
    <div class="container">
       <div class="row">
           <div class="col-sm text-center">
               <h2>Dynamic Youth Afghanistan </h2>
            <article> A passion to help, the ability to deliver</article>
           </div>
       </div>
    </div>
</div>

<div class="container mt-3 mb-3">
    <article class="">
        <b> Dynamic Youth Afghanistan:</b> A non-governmental and not for profit youth-led civil rights organization, 
        works in the areas of Career & Education, Peacebuilding & Leadership Development aligned with the Global 
        Goals of United Nations (SDGs), in support of Youth Development, and Women Empowerment. 
        Our programs are catalyst for a social change. We do believe in providing the equal opportunities 
        for all citizens. As such DY does not discriminate on the basis of race, religion, age, sex, disability 
        and sexual orientation. 
        Our goal is to create the opportunity for youth and support contributions to the peaceful activities.
        We focus to create sustainable solutions to the local and global community by addressing root causes. 
        We aim to transform respect, tolerance, a culture of peace and non-violence communication methods. 
        We are trying to assist people in becoming the business and professional leaders of tomorrow.
    </article>
    <br>
    <article>
        <b> Vision:</b> Our vision is to create a peaceful community by promoting and advancing a dynamic 
        leadership role of youth in the society.
    </article>
    <br>
    <article>
         <b>Mission:</b> DY Afghanistan builds the capacity of Afghan Youth through strategies, and policy frameworks 
        to strengthen civic engagement, quality education and peacebuilding activities, supporting Peace Education, 
        Human Rights, and Democracy. We aim at developing professional competencies of youth through experiential 
        learning methodology and a design thinking approach of solution oriented by addressing the critical problems.
    </article>
    <div class="container about-dy">
        <div class="row">
            <h3 class="text-center">Our Values</h3>
            <div class="col-sm">
                <div class="container p-5">
                    <img src="{% static 'website/img/DYBrand/icons-01.png' %}" alt="Respect">
                    <h3 class="text-center" > Respect</h3>
                </div>
                
                
            </div>
            <div class="col-sm">
                <div class="container p-5">
                    <img src="{% static 'website/img/DYBrand/icons-02.png' %}" alt="Respect">
                    <h3 class="text-center" > Integrity</h3>
                </div>
                
            </div>
            <div class="col-sm">
                <div class="container p-5">
                    <img src="{% static 'website/img/DYBrand/icons-03.png' %}" alt="Respect">
                    <h3 class="text-center" > Honor</h3>
                </div>  
            </div>
            <div class="col-sm">
                <div class="container p-5">
                    <img src="{% static 'website/img/DYBrand/icons-04.png' %}" alt="Respect">
                    <h3 class="text-center" > Creativity</h3>
                </div>
            </div>
            
        </div>
        <div class="row">
            <div class="col-sm">
                <div class="container p-5">
                    <img src="{% static 'website/img/DYBrand/icons-05.png' %}" alt="Respect">
                    <h3 class="text-center" > Competence</h3>
                </div>
            </div>
            <div class="col-sm">
                <div class="container p-5">
                    <img src="{% static 'website/img/DYBrand/icons-06.png' %}" alt="Respect">
                    <h3 class="text-center" > Excellence</h3>
                </div>
                
            </div>
            <div class="col-sm">
                <div class="container p-5">
                    <img src="{% static 'website/img/DYBrand/icons-07.png' %}" alt="Respect">
                    <h3 class="text-center" > Service</h3>
                </div>
            </div>
            <div class="col-sm">
                <div class="container p-5">
                    <img src="{% static 'website/img/DYBrand/icons-08.png' %}" alt="Respect">
                    <h3 class="text-center" > Partnership</h3>
                </div>
               
            </div>
        </div>
    </div>
</div>

{% endblock content %}