{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="base-section anim-down">
    <div class="container">
       <div class="row">
           <div class="col-sm text-center">
               <h2>Welcome to Dynamic Youth Blog </h2>
            <article> Here your will find all the Articles Published at DYAO</article>
           </div>
       </div>
    </div>
</div>

    <!-- programs feature -->
    <div class="programs-section container p-5">
        <!-- <h1 class="text-center"></h1>
        <p class="text-center">Some of the Programs that we Active</p>
         -->
        <div class="row row-cols-1 row-cols-md-3 g-4">
          {% for post in posts %}
            <div class="col">
              <div class="card shadow h-100">
                <img src="{% static 'website/img/blog/01.jpg' %}" class="shadow card-img-top" alt="blog post one">
                <div class="card-body">
                  <div class="row  align-items-center mb-2">
                    <div class="col-2">
                      <img src="{{ post.auther.profile.image.url }}" alt="user profile" class="shadow rounded-circle" width="40" >
                    </div>
                    <div class="col">
                      <span class="text-primary">{{post.auther}} | {{post.date_posted}}</span>
                    </div>
                  </div>
                 
                  <h5 class="card-title ">{{post.title}}</h5>
                  <p class="card-text">
                    {{post.abstract}}
                  </p>
                </div>
              </div>
            </div>
           {% endfor %}
            
        </div>
        
    </div>

{% endblock content %}