{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="base-section anim-down">
    <div class="container">
       <div class="row">
           <div class="col-sm text-center">
               <h2>Get in Touch </h2>
            <article> call, email, message, or come to visit us in our office.</article>
           </div>
       </div>
    </div>
</div>

    <!-- contact-us section-->
    <div class="contact-us-section">
        <div class="container">
            <div class="row">
                <div class="col-sm anim-top">
                    <h3 class="text-center pt-4 ">Send us Message</h3>
                    <div class="container">
                        <!-- form message -->
                        {% if messages %}
                        {% for message in messages %}
                        <div class="row">
                                <div class="alert alert-success" role="alert">
                                    {{message}}
                                </div>
                        </div>
                        {% endfor %}{% endif %}
                    </div>
                    <form method="POST" action="{% url 'sms' %}"> {% csrf_token %}
                        <div class="row">
                            <div class="col-sm pt-2">
                                <input type="text" name="name" class="form-control" placeholder="Name">
                            </div>
                            <div class="col-sm pt-2">
                                <input type="email" name="email" class="form-control" placeholder="Email">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm">
                                <div class="form-group">
                                    <textarea class="form-control" name="message" rows="5" placeholder="Enter your message here" id="comment"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm pt-3 d-flex justify-content-end">
                                <input class="btn btn-primary justify-content-end" type="submit"  name="Send" id="">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-sm anim-top ">
                    <div class="row pt-4">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d2194.369989502896!2d69.12134074982657!3d34.50693764511164!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e3!4m0!4m5!1s0x38d168b5fc5bf255%3A0xd7e0fdc4f9f3b13!2z2LTZgdin2K7Yp9mG2Ycg2YXYudin2YTYrNmI24wg2LfZhNmI2Lkg2LXYrdiq2IwgS2FidWwsIEFmZ2hhbmlzdGFu!3m2!1d34.5067854!2d69.1203352!5e0!3m2!1sen!2sae!4v1610272209400!5m2!1sen!2sae" width="600" height="250" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <h3 class="pt-2">Get in Touch</h3>
                            <p><i class=" fas fa-map-marker-alt"></i> <span class="pl-3"> &nbsp;&nbsp;PD6, Karte Se, Kabul </span> </p>
                            <p><i class=" fas fa-phone-alt"></i> <span class="pl-3">&nbsp;&nbsp;+93 778 28 44 65</span></p>
                            <p><i class=" fas fa-envelope"></i>  <span class="pl-3">&nbsp;&nbsp;info@dynamicyouth.org</span> </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}