{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="base-section anim-down">
    <div class="container">
       <div class="row">
           <div class="col-sm text-center">
               <h2>Get in Touch </h2>
            <article> call, email, message, or come to visit us in our office.</article>
           </div>
       </div>
    </div>
</div>

    <!-- contact-us section-->
    <div class="contact-us-section">
        <div class="container">
            <div class="row">
                <div class="col-sm anim-top">
                    <h3 class="text-center pt-4 ">Send us Message</h3>
                    <div class="container">
                        <!-- form message -->
                        {% if messages %}
                        {% for message in messages %}
                        <div class="row">
                                <div class="alert alert-success" role="alert">
                                    {{message}}
                                </div>
                        </div>
                        {% endfor %}{% endif %}
                    </div>
                    <form method="POST" action="{% url 'sms' %}"> {% csrf_token %}
                        <div class="row">
                            <div class="col-sm pt-2">
                                <input type="text" name="name" class="form-control" placeholder="Name">
                            </div>
                            <div class="col-sm pt-2">
                                <input type="email" name="email" class="form-control" placeholder="Email">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm">
                                <div class="form-group">
                                    <textarea class="form-control" name="message" rows="5" placeholder="Enter your message here" id="comment"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm pt-3 d-flex justify-content-end">
                                <input class="btn btn-primary justify-content-end" type="submit" value="Send"  name="Send" id="">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-sm anim-top ">
                    <div class="row pt-4">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1382.6437613735693!2d69.13544784148527!3d34.49021652690527!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzTCsDI5JzI1LjAiTiA2OcKwMDgnMDkuMyJF!5e0!3m2!1sen!2sae!4v1613647027542!5m2!1sen!2sae" width="600" height="250" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                        <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3288.4975405491928!2d69.13372131522664!3d34.49026868048904!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzTCsDI5JzI1LjAiTiA2OcKwMDgnMDkuMyJF!5e0!3m2!1sen!2sae!4v1613646720740!5m2!1sen!2sae" width="600" height="250" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe> -->
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <h3 class="pt-2">Get in Touch</h3>
                            <p><i class=" fas fa-map-marker-alt"></i> <span class="pl-3"> &nbsp;&nbsp;House #12, Street #14, Karte Se Main Road, PD 6, Kabul, Afghanistan </span> </p>
                            <p><i class=" fas fa-phone-alt"></i> <span class="pl-3">&nbsp;&nbsp;+93 778 28 44 65</span></p>
                            <p><i class=" fas fa-envelope"></i>  <span class="pl-3">&nbsp;&nbsp;info@dynamicyouth.org</span> </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}