{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="base-section anim-down" >
        <div class="container">
           <div class="row">
               <div class="col-sm text-center">
                   <h1 class="anim-down">Dynamic Youth Afghanistan </h1>
                <h5 class="anim-down"> A passion to help, the ability to deliver</h5>
               </div>
               <div class="col-sm">
                   <img class="anim-down" src="{% static 'website/img/logo.jpg' %}"  alt="LOGO here">
               </div>
           </div>
        </div>
    </div>


    <!-- high light section -->
    <div class="section high-light" >
        <div class="container">
            <div class="row justify-content-around">
                <div class="col-sm-4 mt-2 mb-2">
                    <img class="anim-top" src="{% static 'website/img/pdc2.jpg' %}" alt="PDC2">
                </div>
                <div class="col-sm-8">
                    <div class="container pt-5 pb-4 ">
                        <h2 class="anim-right">Pioneers Debate Competition</h2>
                        <article class="anim-left">
                            Debates can help students practice and demonstrate their critical thinking skills and
                            cultivate their persuasion and communication skills. Also debate provides experiences that
                            are conductive to life-changing, cognitive and presentation skills.                             
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- About section-->
    <div class="about-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="container pt-5 pb-4 ">
                        <h2 class="text-right anim-right">About Dynamic Youth</h2>
                        <article class="text-right anim-left" >
                            We are a volunteer, youth-led and non-for-profit NGO working on 
                            the localization of the Sustainable Development Goals (SDGs) in Afghanistan!
                        </article>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 mt-3 justify-content-around">
                    <img class="anim-top" src="{% static 'website/img/dy.png' %}" alt="PDC2">
                </div>
                
            </div>
        </div>
    </div>


    <!-- programs feature -->
    <div class="programs-section container p-5" >
        <h1 class="text-center ">Featured Programs</h1>
        <p class="text-center ">Some of the Programs that we Active</p>
        
        <div class="row">
            <div class="col-sm">
                <div class="card anim-top text-center mt-3">
                    <div class="card-body">
                    <i class="fab fa-airbnb"></i>
                    <h3 class="card-title">Career & Education</h3>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>

            <div class="col-sm">
                <div class="card anim-top text-center mt-3">
                    <div class="card-body">
                        <i class="fab fa-airbnb"></i>
                        <h3 class="card-title">Peace Building</h3>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>

            <div class="col-sm">
                <div class="card anim-top text-center mt-3 ">
                    <div class="card-body">
                        <i class="fab fa-airbnb"></i>
                        <h3 class="card-title">Leadership Development</h3>
                        <p class="card-text">This is a longer card with supporting text.</p>
                    </div>
                </div>
            </div>
        </div>
            
        <div class="row">
            <div class="col-sm">
                <div class="card anim-top text-center mt-3">
                    <div class="card-body">
                        <i class="fab fa-airbnb"></i>
                        <h3 class="card-title">Sustainable Development Goals (SDGs)</h3>
                        <p class="card-text">This is a longer card with supporting text.</p>
                    </div>
                </div>
            </div>

            <div class="col-sm">
                <div class="card anim-top text-center mt-3">
                    <div class="card-body">
                        <i class="fab fa-airbnb"></i>
                        <h3 class="card-title">Youth Development</h3>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>

            <div class="col-sm">
                <div class="card anim-top text-center mt-3">
                    <div class="card-body">
                        <i class="fab fa-airbnb"></i>
                        <h3 class="card-title">Women Empowerment </h3>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

    <!-- Team -->
    <div class="team-container">
        <div class="team-section p-5">
            <div class="container">
                <h1 class="text-center anim-down">Meet Our Team</h1>
                <div class="card-team">
                    <div class="container ">
                        <div class="card  text-center">
                            <div class=" ">
                                <img src=" {% static 'website/img/boy.jpg' %} " class="rounded-circle" alt="Profile">
                            </div>
                            <div class="card-outer shadow p-2">
                            <div class="card inside-card">
                                <div class="card-body pb-0">
                                    <h4 class="card-title pt-3">Kazim Haidari</h4>
                                    <p class="">kazimhaidari20@gmail.com</p>
                                    <div class="container">
                                        <h3>
                                            <i class="fab fa-facebook-f mr-3 text-primary"></i>
                                            <i class="fab fa-instagram  mr-3 text-primary"></i>
                                            <i class="fab fa-twitter    mr-3 text-primary"></i>
                                            <i class="fab fa-linkedin   mr-3 text-primary"></i>
                                        </h3>
                                    </div>
                                </div>
                                </div>
                                <div class="position">
                                    <h4>Co-founder</h4>
                                </div>
                            </div>
                            <div class="card-footer shadow p-2">
                            <div class="card-footer-body">
                                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="card text-center">
                            <div class=" ">
                                <img src=" {% static 'website/img/girl.jpg' %}" class="rounded-circle" alt="Profile">
                            </div>
                            <div class="card-outer shadow p-2">
                            <div class="card inside-card">
                                <div class="card-body pb-0">
                                    <h4 class="card-title pt-3">Roqia Ghurjistani</h4>
                                    <p class="">roqiaGhurjistani@gmail.com</p>
                                    <div class="container">
                                        <h3>
                                            <i class="fab fa-facebook-f mr-3 text-primary"></i>
                                            <i class="fab fa-instagram  mr-3 text-primary"></i>
                                            <i class="fab fa-twitter    mr-3 text-primary"></i>
                                            <i class="fab fa-linkedin   mr-3 text-primary"></i>
                                        </h3>
                                    </div>
                                </div>
                                </div>
                                <div class="position">
                                    <h4>Co-founder</h4>
                                </div>
                            </div>
                            <div class="card-footer shadow p-2">
                            <div class="card-footer-body">
                                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="card text-center">
                            <div class=" ">
                                <img src="{% static 'website/img/boy2.jpg' %}" class="rounded-circle" alt="Profile">
                            </div>
                            <div class="card-outer shadow p-2">
                            <div class="card inside-card">
                                <div class="card-body pb-0">
                                    <h4 class="card-title pt-3">Asad Rayan</h4>
                                    <p class="">asadrayan@gmail.com</p>
                                    <div class="container">
                                        <h3>
                                            <i class="fab fa-facebook-f mr-3 text-primary"></i>
                                            <i class="fab fa-instagram  mr-3 text-primary"></i>
                                            <i class="fab fa-twitter    mr-3 text-primary"></i>
                                            <i class="fab fa-linkedin   mr-3 text-primary"></i>
                                        </h3>
                                    </div>
                                </div>
                                </div>
                                <div class="position">
                                    <h4>Member</h4>
                                </div>
                            </div>
                            <div class="card-footer shadow p-2">
                            <div class="card-footer-body">
                                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="card text-center">
                            <div class=" ">
                                <img src="{% static 'website/img/profile.jpg' %}" class="rounded-circle" alt="Profile">
                            </div>
                            <div class="card-outer shadow p-2">
                                <div class="card inside-card">
                                    <div class="card-body pb-0">
                                        <h4 class="card-title pt-3">Abuzar Rezaie</h4>
                                        <p class="">abuzar@gmail.com</p>
                                        <div class="container">
                                            <h3>
                                                <i class="fab fa-facebook-f mr-3 text-primary"></i>
                                                <i class="fab fa-instagram  mr-3 text-primary"></i>
                                                <i class="fab fa-twitter    mr-3 text-primary"></i>
                                                <i class="fab fa-linkedin   mr-3 text-primary"></i>
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="position">
                                    <h4>Member</h4>
                                </div>
                            </div>
                            <div class="card-footer shadow p-2">
                                <div class="card-footer-body">
                                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <!-- partners -->
    <div class="partner-section " >
        <div class="container">
            <h2 class="text-center pt-3 anim-down">Our Partners</h2>
            <div class="autoplay">
                <div class="item">
                    <h1> <img src="{% static 'website/img/partner/dv.png' %}" alt="dynamic vision"></h1>
                </div>
                <div class="item">
                    <h1> <img src="{% static 'website/img/partner/dv.png' %}" alt="dynamic vision"></h1>
                </div>
                <div class="item">
                    <h1><img src="{% static 'website/img/partner/dv.png' %}" alt="dynamic vision"></h1>
                </div>
                <div class="item">
                    <h1><img src="{% static 'website/img/partner/dv.png' %}" alt="dynamic vision"></h1>
                </div>
                <div class="item">
                    <h1><img src="{% static 'website/img/partner/dv.png' %}" alt="dynamic vision"></h1>
                </div>
            </div>
        </div>
    </div>

    <!-- contact-us section-->
    <div class="contact-us-section">
        <div class="container">
            <div class="row">
                <div class="col-sm anim-top">
                    <h3 class="text-center pt-4 ">Send us Message</h3>
                    <form>
                        <div class="row">
                            <div class="col-sm pt-2">
                            <input type="text" class="form-control" placeholder="First name">
                            </div>
                            <div class="col-sm pt-3">
                            <input type="email" class="form-control" placeholder="email">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm">
                                <div class="form-group">
                                    <textarea class="form-control" rows="5" placeholder="Enter your message here" id="comment"></textarea>
                                    </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm pt-3 d-flex justify-content-end">
                                <input class="btn btn-primary justify-content-end" type="submit"  name="Send" id="">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-sm anim-top ">
                    <div class="row pt-4">
                        <iframe  class= "mape" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d12135.435148041288!2d55.304622998048366!3d25.274404755797516!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sae!4v1608589645592!5m2!1sen!2sae" width="600" height="250" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <h3 class="pt-2">Visit us in persion</h3>
                            <p><i class=" fas fa-map-marker-alt"></i> <span class="pl-3"> &nbsp;&nbsp;your Address here</span> </p>
                            <p><i class=" fas fa-phone-alt"></i> <span class="pl-3">&nbsp;&nbsp;your phone here</span></p>
                            <p><i class=" fas fa-envelope"></i>  <span class="pl-3">&nbsp;&nbsp;your email here</span> </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    

{% endblock content %}