
{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="base-section anim-down">
    <div class="container">
       <div class="row">
           <div class="col-sm text-center">
               <h2>Our Initiatives </h2>
            <article> A passion to help, the ability to deliver</article>
           </div>
       </div>
    </div>
</div>

<ul class="nav nav-tabs justify-content-center mt-2" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#one" role="tab" aria-controls="home" aria-selected="true">PDC</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#two" role="tab" aria-controls="profile" aria-selected="false">Initiative Two</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="contact-tab" data-bs-toggle="tab" href="#three" role="tab" aria-controls="contact" aria-selected="false">Initiative Three</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="one" role="tabpanel" aria-labelledby="home-tab">
        <div class="container mt-3 mb-3">
            <div class="row row-cols-1 row-cols-md-2">
                <div class="col">
                    <div class="container">
                    <img src="{% static 'website/img/pdc2.jpg' %}" class="card-img-top rounded-3" alt="blog post one">
                    <div class="row  bg-light rounded-3 p-3">
                        <img src="{% static 'website/img/pdc/cover.jpg' %}" class="card-img-top rounded-3" alt="blog post one">
                        <div class="col pt-4">
                            <img src="{% static 'website/img/pdc/pdc2.jpg' %}" class="card-img-top rounded-3" alt="blog post one">
                        </div>
                        <div class="col pt-4">
                            <img src="{% static 'website/img/pdc/pdc3.jpg' %}" class="card-img-top rounded-3" alt="blog post one">
                        </div>
                        <div class="col pt-4">
                            <img src="{% static 'website/img/pdc/pdc4.jpg' %}" class="card-img-top rounded-3" alt="blog post one">
                        </div>
                    </div>
                    </div>
                </div>
                <div class="col order-first">
                    <h2 class="card-title">Pioneers Debate competition (PDC)</h2>
                    <div class="p-3 d-none  d-none d-sm-block d-xs-block d-lg-none d-xl-none d-md-none">
                        <img src="{% static 'website/img/pdc2.jpg' %}" class="card-img-top rounded-3" alt="blog post one">
                    </div>
                    <p class="card-text">
                    Debates can help students practice and demonstrate their critical thinking skills and 
                    cultivate their persuasion and communication skills. Also debate provides experiences 
                    that are conductive to life-changing, cognitive and presentation skills.</p>
                    <p class="card-text">
                    Pioneers Debate Competition (#PDC) is three (3) days British parliamentary debate program 
                    aligned with the Sustainable Development of Goals (SDGs), Youth Development and Women 
                    Empowerment with more than 80 university and school students (debaters) in Kabul, Afghanistan
                    which will be held by Dynamic Youth Afghanistan twice a year in collaboration with some 
                    contributing organizations. </p>
                    <p class="card-text">
                    This program aims to enhance soft skills of Afghan Young leaders. Our debate competition is
                    a unique chance for Afghans to speak up their minds and work on the possible solutions 
                    for the local, regional and global level issues. This program aims to increase the 
                    learners and debater’s confidence, poise, and self-esteem. We are providing an engaging 
                    learner, solution centered activities, active and experiential learning methodology.</p> 
                    <h6 > <strong>This program aims to increase the learners and debater’s confidence, poise, and 
                        self-esteem. PDC is designed for: </strong></h6>
                    <ul>
                        <li>Boosting teamwork & cooperation ability.</li>
                        <li>Building self-confidence & public speaking skills.</li>
                        <li>Consolidating the analysis skills.</li>
                        <li>Enriching open-mindedness.</li>
                        <li>Developing leadership, team building and community skills.</li>
                        <li>Developing effective speech composition and delivery. </li>
                        <li>Training critical thinking skills.</li>
                        <li>Improving learners’ ability to form balanced, informed arguments and to use reasoning and evidence. </li>
                    </ul>
                    <p class="">
                        Through PDC, which is the biggest debating competition among University and high school students ever, 
                        we help Afghan youth to become <strong> “better thinkers, speakers and leaders”</strong>. 
                    </p>
                    <h6 class="text-center"><strong>Them: Think, Speak, Impact.</strong></h6>
                    <br>
                    <h5>Program requirement:</h5>
                    <ul>
                        <li>At least intermediate level of English language </li>
                        <li>Currently School/ University Students</li>
                        <li>Students who interests in Sustainable Development Goals</li>
                        <li>0+ Youth Leaders from across the country </li>
                        <li>Committed to attend all the sessions.  </li>
                    </ul>
                </div>
                
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="two" role="tabpanel" aria-labelledby="profile-tab">
        <div class="container mt-3 mb-3">
            <div class="row row-cols-1 row-cols-md-2">
                <div class="col">
                    <img src="{% static 'website/img/blog/03.jpg' %}" class="card-img-top" alt="blog post one">
                </div>
                <div class="col">
                    <h2 class="card-title">DYAO Initiative Two</h2>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. 
                          This card has even longer content than the first to show that equal height action.
                          This is a wider card with supporting text below as a natural lead-in to additional content. 
                          This card has even longer content than the first to show that equal height action.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="three" role="tabpanel" aria-labelledby="contact-tab">
        <div class="container mt-3 mb-3">
            <div class="row row-cols-1 row-cols-md-2">
                <div class="col">
                    <img src="{% static 'website/img/blog/02.jpg' %}" class="card-img-top" alt="blog post one">
                </div>
                <div class="col">
                    <h2 class="card-title">DYAO Initiative Three</h2>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. 
                          This card has even longer content than the first to show that equal height action.
                          This is a wider card with supporting text below as a natural lead-in to additional content. 
                          This card has even longer content than the first to show that equal height action.
                    </p>
                </div>
            </div>
        </div>
    </div>
  </div>

{% endblock content %}