{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="base-section anim-down">
    <div class="container">
       <div class="row">
           <div class="col-sm text-center">
               <h2>Blog Title here </h2>
            <article> by Zman ehsnai</article>
           </div>
       </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col col-lg-8 m-lg-auto">
            <div class="card shadow h-100 mb-4">
              <img src="{% static 'website/img/blog/02.jpg' %}" class="card-img-top" alt="Peace ">
              <div class="card-body">
                <h5 class="card-title">Peace Building</h5>
                <article class="card-title" >
                    “I’ve never talked to him in person and I barely know where he lives, if I disappear/die you 
                    already know,” posted Yasmin da Silva Nery, 16, on her Twitter account on June 9, 2019, at 2:09 
                    am. In a matter of hours, she would be murdered and dismembered in the house of a 17-year-old 
                    boy she had met a day before.

                    Yasmin da Silva Nery was an exemplary daughter. She was a sweet, shy, and intelligent girl 
                    who enjoyed hanging out with friends and, according to her father, Waldir Nery, would never
                    stay more than two hours outside without telling her parents. She had gotten a scholarship 
                    to one of the best high schools in the city of Araraquara, São Paulo, Brazil where she lived 
                    with her parents, and no one had any doubt that she could have a bright future.

                    Yasmin had chatted for only a day with H.S., who also lived in her city, when they agreed to meet on Sunday, 
                    June 9, 2019.

                    In the early hours of Sunday, she posted on her Twitter account: “I’m going to somebody’s house tomorrow 
                    and I’m feeling sick,” followed by “I’ve never talked to him in person and I barely know where he lives, 
                    if I disappear/die you already know.” A few minutes later, she seemed to have changed her mind as she tweeted:
                    “On second thought, I don’t know if I should go to his house.”
                </article>
              </div>
            </div>
          </div>
    </div>
</div>

{% endblock content %}