{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="base-section anim-down">
    <div class="container">
       <div class="row">
           <div class="col-sm text-center">
               <h2>Meet Our Team </h2>
            <article>We are a team of dedicated youth</article>
           </div>
       </div>
    </div>
</div>

<div class="team-section" style="background-color: white;">
    <div class="container pt-3 pb-3">
        <h1 class="text-center " style="color: #001a2b;">Meet Our Team</h1>
        <div class="row">
            <div class="col-sm">
                <div class="card text-center">
                    <div class=" ">
                        <img src=" {% static 'website/img/boy.jpg' %} " class="rounded-circle" alt="Profile">
                    </div>
                    <div class="card-outer shadow p-2">
                    <div class="card inside-card">
                        <div class="card-body pb-0">
                            <h4 class="card-title pt-3">Kazim Haidari</h4>
                            <p class="">kazimhaidari20@gmail.com</p>
                            <div class="container">
                                <h3>
                                    <a href="https://www.facebook.com/Haidari.Kazim" target="_blank"><i class="fab fa-facebook-f mr-3 "></i></a>
                                    <a href="https://www.instagram.com/kazimhaidari_14/" target="_blank"><i class="fab fa-instagram  mr-3 "></i></a> 
                                    <a href="https://twitter.com/kazim_haidari" target="_blank"><i class="fab fa-twitter    mr-3 "></i></a> 
                                    <a href="https://www.linkedin.com/in/mohammad-kazim-haidari-167410140/" target="_blank"><i class="fab fa-linkedin   mr-3 "></i></a> 
                                 </h3>
                            </div>
                        </div>
                        </div>
                        <div class="position">
                            <h4>Co-founder</h4>
                        </div>
                    </div>
                    <div class="card-footer shadow p-2">
                    <div class="card-footer-body">
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card text-center">
                    <div class=" ">
                        <img src=" {% static 'website/img/girl.jpg' %}" class="rounded-circle" alt="Profile">
                    </div>
                    <div class="card-outer shadow  p-2">
                    <div class="card inside-card">
                        <div class="card-body pb-0">
                            <h4 class="card-title pt-3">Roqia Ghurjistani</h4>
                            <p class="">roqiaGhurjistani@gmail.com</p>
                            <div class="container">
                                <h3>
                                    <a href="https://www.facebook.com/roqia.gh" target="_blank"><i class="fab fa-facebook-f mr-3 "></i></a>
                                    <a href="https://www.instagram.com/roqia_gharjistani/" target="_blank"><i class="fab fa-instagram  mr-3 "></i></a> 
                                    <a href="https://twitter.com/R_Gharjistani" target="_blank"><i class="fab fa-twitter    mr-3 "></i></a> 
                                    <a href="https://www.linkedin.com/in/roqia-gharjistani-234417127/" target="_blank"><i class="fab fa-linkedin   mr-3 "></i></a> 
                                </h3>
                            </div>
                        </div>
                        </div>
                        <div class="position">
                            <h4>Co-founder</h4>
                        </div>
                    </div>
                    <div class="card-footer shadow p-2">
                    <div class="card-footer-body">
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card text-center">
                    <div class=" ">
                        <img src="{% static 'website/img/boy2.jpg' %}" class="rounded-circle" alt="Profile">
                    </div>
                    
                    <div class="card-outer shadow p-2">
                        <div class="card inside-card">
                        <div class="card-body pb-0">
                            <h4 class="card-title pt-3">Asad Rayan</h4>
                            <p class="">asadrayan@gmail.com</p>
                            <div class="container">
                                <h3>
                                    <a href="https://www.facebook.com/ASADAMCOFFICIAL" target="_blank"><i class="fab fa-facebook-f mr-3 "></i></a>
                                    <a href="https://www.instagram.com/asad_rayann/" target="_blank"><i class="fab fa-instagram  mr-3 "></i></a> 
                                    <a href="#" target="_blank"><i class="fab fa-twitter    mr-3 "></i></a> 
                                    <a href="https://www.linkedin.com/in/asad-rayan-2aa7ba1b2/" target="_blank"><i class="fab fa-linkedin   mr-3 "></i></a> 
                                 </h3>
                            </div>
                        </div>
                        </div>
                        <div class="position">
                            <h4>Member</h4>
                        </div>
                    </div>
                    <div class="card-footer shadow p-2">
                        <div class="card-footer-body">
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card text-center">
                    <div class=" ">
                        <img src="{% static 'website/img/profile.jpg' %}" class="rounded-circle" alt="Profile">
                    </div>
                    <div class="card-outer shadow p-2">
                        <div class="card inside-card">
                            <div class="card-body pb-0">
                                <h4 class="card-title pt-3">Abuzar Rezaie</h4>
                                <p class="">abuzar@gmail.com</p>
                                <div class="container">
                                    <h3>
                                        <a href="https://www.facebook.com/abuzar.rezaie.9" target="_blank"><i class="fab fa-facebook-f mr-3 "></i></a>
                                        <a href="#" target="_blank"><i class="fab fa-instagram  mr-3 "></i></a> 
                                        <a href="https://twitter.com/abuzar_rezaie" target="_blank"><i class="fab fa-twitter    mr-3 "></i></a> 
                                        <a href="https://www.linkedin.com/in/abuzar-rezaie-593281200/" target="_blank"><i class="fab fa-linkedin   mr-3 "></i></a> 
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="position">
                            <h4>Member</h4>
                        </div>
                    </div>
                    <div class="card-footer shadow p-2">
                        <div class="card-footer-body">
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 
{% endblock content %}